# Ignore Terraform state files and backup files
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.json

# Ignore Terraform variable files
*.tfvars
*.tfvars.json

# Ignore local Terraform directories
.terraform/
.terraform.lock.hcl
